<style>
    /* CSS for the footer */
    footer {
      background-color: black;
      color: white;
      padding: 20px;
      text-align: center;
    }
  
    footer p {
      margin: 10px 0;
    }
  
    footer ul {
      list-style-type: none;
      padding: 0;
    }
  
    footer ul li {
      display: inline;
      margin: 0 10px;
    }
  
    footer a {
      color: white;
      text-decoration: none;
    }
  
    footer a:hover {
      text-decoration: underline;
    }
  </style>
  
<footer>
    <p>This is a demo project created by Vikash Saini.<br> Please note that using anything from this project, such as the theme, design, pictures, or code snippets, without permission is not allowed.<br>  </p>
    <p>You can visit to If you have any feedback or questions <br> and  know more about projects at:</p>
    <ul>
        <li><i class="fas fa-address-card"></i><a href="https://github.com/vikash-saini-maruti"> Portfolio</a></li>
        <li><i class="fas fa-solid fa-envelope"></i><a href="vikashsaini.maruti@outlook.com"> Email</a></li>
        <li><i class="fab fa-github"></i><a href="https://github.com/vikash-saini-maruti"> GitHub</a></li>
        <li><i class="fab fa-linkedin"></i><a href="https://www.linkedin.com/in/vikash-saini-maruti/"> LinkedIn</a></li>       
        <li><i class="fab fa-twitter"></i><a href="https://twitter.com/vikash_maruti"> Twitter</a></li>
        <li><i class="fab fa-instagram"></i><a href="https://www.instagram.com/mrsaini.insta/"> Instagram</a></li>
      
    </ul>
    
    
  </footer>
  
  <!-- Include Font Awesome for icons -->
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  
  